_ide_helper.php
!storage/app/public
!storage/framework/cache/data/*
.env
.env.backup
.env.production
.fleet
.idea
.phpactor.json
.phpunit.cache
.phpunit.result.cache
.vscode
auth.json
Homestead.json
Homestead.yaml
node_modules
npm-debug.log
public/build
public/hot
public/storage
routes/dev.php
storage/*.key
storage/app/*
storage/app/*
storage/framework/cache/*
storage/framework/compiled.php
storage/framework/config.php
storage/framework/down
storage/framework/events.scanned.php
storage/framework/maintenance.php
storage/framework/routes.php
storage/framework/routes.scanned.php
storage/framework/schedule-*
storage/framework/services.json
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
vendor
